
*.plist

src/ass.dSYM/Contents/Resources/DWARF/ass

src/ass

src/shit

src/shame.dSYM/Contents/Resources/DWARF/shame

src/shame

src/caca1.c.log

src/caca4.c.log

src/caca1.c.log

src/shit1

src/caca

src/caca.c

src/caca.dSYM/Contents/Resources/DWARF/caca

src/output01.txt?AWSAccessKeyId=AKIAJ4WZFDFQTZRGO3QA&Expires=1502575130&Signature=4tcrv4gg0Oxh6Pj++w1tY1Oy+rw=&response-content-type=text%2Fplain

src/caca_grande.c.log

src/caca.c.log

src/caca5.c.log

src/caca.c.log

src/caca_grande.c.log
